<!DOCTYPE html>
<html class="x-admin-sm">
    
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/font.css">
        <link rel="stylesheet" href="/static/css/xadmin.css">
        <link rel="stylesheet" href="/static/layui/css/layui.css">
        <script type="text/javascript" src="/static/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/xadmin.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
    <br>
    <br>
    <div class="layui-collapse" lay-accordion="">
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">网名去除</h2>
            <div class="layui-colla-content layui-show">

                <table class="layui-hide" id="table" lay-filter="testTable"></table>
                <script type="text/html" id="barDemo">
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                </script>
            </div>
        </div>



    </div>
    <blockquote class="layui-elem-quote" style="font-weight: bold">新增网名</blockquote>
    <form id="L_form_Addwm" class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <label class="layui-form-label">网名</label>
            <div class="layui-input-inline">
                <input type="text" id="L_form_wm"  required="" lay-verify="bt" autocomplete="off" class="layui-input" width="100"></div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button  class="layui-btn" lay-filter="addWm" lay-submit="">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary" >重置</button>
            </div>
        </div>
    </form>

    <blockquote class="layui-elem-quote" style="font-weight: bold">新增简语</blockquote>
    <form class="layui-form layui-form-pane" id="L_form">

        <div class="layui-form-item">
            <label class="layui-form-label">网名</label>
            <div class="layui-input-inline">
                <input type="text" id="L_wm"  required="" lay-verify="wm" autocomplete="off" class="layui-input" width="100">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <button  class="layui-btn layui-btn-warm" id="scan">随机</button>
            </div>
              <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>给这段简语取一个好网名哦
             </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-inline">
                <input type="text" id="L_bt"  required="" lay-verify="bt" autocomplete="off" class="layui-input" width="100"></div>
        </div>



        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">内容</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" id="L_nr"  required="" lay-verify="nr" autocomplete="off" ></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button  class="layui-btn" lay-filter="add" lay-submit="">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary" >重置</button>
            </div>
        </div>
    </form>


    <script src="/static/js/admin/jianyuAdd.js"></script>

    </body>

</html>

