<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <script type="text/javascript" src="/static/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]--></head>

<body >
<br>
<br>
<br>
<div id="link_div">
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">
            <input value="" id="id" name="id"/>

            <div class="layui-form-item">
                <label for="linkName" class="layui-form-label">
                    <span class="x-red">*</span>链接名</label>
                <div class="layui-input-inline">
                    <input type="text" id="linkName" name="linkName" required=""  autocomplete="off" class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="linkByName" class="layui-form-label">
                    <span class="x-red">*</span>链接别名</label>
                <div class="layui-input-inline">
                    <input type="text" id="linkByName" name="linkByName" required=""  autocomplete="off" class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="linkAddres" class="layui-form-label">
                    <span class="x-red">*</span>链接地址</label>
                <div class="layui-input-inline">
                    <input type="text" id="linkAddres"  name="linkAddres" required="" lay-verify="linkAddres" autocomplete="off" class="layui-input"></div>
            </div>

            <div class="layui-form-item">
                <label  class="layui-form-label">
                    <span class="x-red">*</span>链接类型</label>
                <div class="layui-input-inline">
                    <select id="linkType" name="linkType" >
                        <option value=""></option>
                        <option value="vedio">vedio</option>
                        <option value="music">music</option>
                        <option value="epub">epub</option>
                        <option value="tools">tools</option>
                    </select>
                </div>
            </div>



<div class="layui-form-item layui-form-text">
    <label for="linkDescribe" class="layui-form-label">描述</label>
    <div class="layui-input-block">
        <textarea placeholder="请输入内容" id="linkDescribe" name="linkDescribe" class="layui-textarea"></textarea>
    </div>
</div>
<div class="layui-form-item">
    <div class="layui-input-block">
    <label  class="layui-form-label"></label>
        <button class="layui-btn" lay-filter="add" lay-submit="">提交修改</button></div></div>
</form>
</div>
</div>
<script src="/static/js/admin/linkTable.js"></script>
</div>
</body>

</html>